# Runtime dependencies
reportlab==4.2.5
pandas==2.2.3
numpy==1.26.4
pillow==11.0.0
openpyxl==3.1.5
opencv-python==4.11.0.86

# Build dependencies (hanya diperlukan untuk build EXE)
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.10